<h1>New Client</h1>

<div class = "row">
  <div class = "span4 offset4">

  <%= form_for @client do |f| %>

    <%= f.label :first_name %>
    <%= f.text_field :first_name %>

    <%= f.label :last_name %>
    <%= f.text_field :last_name %>

    <%= f.label :home_phone %>
    <%= f.text_field :home_phone %>

    <%= f.label :work_phone %>
    <%= f.text_field :work_phone %>

    <%= f.label :rate %>
    <%= f.text_field :rate %>

    <%= f.label :notes %>
    <%= f.text_area :notes, rows:'5' %>

    <%= f.submit "Create Client", class:"btn-large btn-primary" %>
    
  <% end %>
  
  </div>
</div>



<p>Find me in app/views/clients/new.html.erb</p>
