<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Pet App", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home",    root_path %></li>
          <li><%= link_to "About",    about_path %></li>
          <li><%= link_to "Contact",    contact_path %></li>

     		   <li id="fat-menu" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Clients <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to 'All Clients', clients_path %></li>
                  <li><%= link_to 'New Client', new_client_path %></li>
                </ul>
              </li>
            </ul> 
           </nav>   

        </div>
      </div>
</header>   